@model DashAccountingSystem.Data.Models.Account

@{
    ViewData["Title"] = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var createdBy = Model.CreatedBy != null ? $"{Model.CreatedBy.FirstName} {Model.CreatedBy.LastName}" : string.Empty;
    var updatedBy = Model.UpdatedBy != null ? $"{Model.UpdatedBy.FirstName} {Model.UpdatedBy.LastName}" : string.Empty;
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NormalBalanceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NormalBalanceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => createdBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => updatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BalanceUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-route="editAccount"
     asp-route-tenantid="@Model.Tenant.Id"
     asp-route-accountid="@Model.Id"
    >
        Edit
    </a> |
    <a asp-route="accountsIndex" asp-route-tenantid="@Model.Tenant.Id">Back to List</a>
</div>
