@model DashAccountingSystem.Models.AccountDetailsViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_TenantMastheadAndSubNav.cshtml" />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AccountType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AssetType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.NormalBalanceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.NormalBalanceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.CurrentBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.CurrentBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.CreatedBy.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Updated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.UpdatedBy.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.BalanceUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.BalanceUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-route="editAccount"
     asp-route-tenantid="@Model.Tenant.Id"
     asp-route-accountid="@Model.Account.Id"
    >
        Edit
    </a> |
    <a asp-route="accountsIndex" asp-route-tenantid="@Model.Tenant.Id">Back to List</a>
</div>
