@using DashAccountingSystem.Data.Models
@using DashAccountingSystem.Extensions
@using DashAccountingSystem.Models
@model AccountDetailsViewModel

@{
    var account = Model.Account;
    ViewData["Title"] = account.AccountNumber + " - " + account.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    const string amountFormat = "#,##0.00;(#,##0.00)";

    var pendingDebits = account.PendingDebits ?? 0.0m;
    var pendingCredits = account.PendingCredits ?? 0.0m;
    var pendingBalance = account.CurrentBalance + pendingDebits - pendingCredits;
    var isPendingBalanceNormal = account.NormalBalanceType == AmountType.Debit
        ? pendingBalance >= 0.0m
        : pendingBalance <= 0.0m;
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

<div style="margin: 22px auto">
    <a asp-route="editAccount"
       asp-route-tenantid="@account.TenantId"
       asp-route-accountid="@account.Id">
        Edit
    </a> |
    <a asp-route="accountsIndex" asp-route-tenantid="@account.TenantId">Back to List</a>
</div>

<h4>Summary</h4>

<div>
    <dl class="dl-horizontal account-meta-data">
        <dt>Account #</dt>
        <dd>@account.AccountNumber</dd>
        <dt>Name</dt>
        <dd>@account.Name</dd>
        <dt>Account Type</dt>
        <dd>@account.AccountType.Name</dd>
        <dt>Normal Balance</dt>
        <dd>@account.NormalBalanceType</dd>
        <dt>Last Transaction</dt>
        <dd>@account.BalanceUpdated.ToString("g")</dd>
    </dl>
</div>

<table class="table table-condensed table-striped meta-data-table" style="margin-bottom:22px">
    <tbody>
        <tr>
            <td>Current Balance</td>
            <td class="text-@(account.IsBalanceNormal ? "success" : "danger")" style="text-align: right">
                <small class="asset-type text-muted">@account.AssetType.Name</small> @account.CurrentBalance.ToString(amountFormat)
            </td>
        </tr>
        <tr>
            <td>Pending Debits</td>
            <td style="text-align: right">
                <small class="asset-type text-muted">@account.AssetType.Name</small> @pendingDebits.ToString(amountFormat)
            </td>
        </tr>
        <tr>
            <td>Pending Credits</td>
            <td style="text-align: right">
                <small class="asset-type text-muted">@account.AssetType.Name</small> @pendingCredits.ToString(amountFormat)
            </td>
        </tr>
        <tr style="font-weight: bold">
            <td>Pending Balance</td>
            <td class="text-@(isPendingBalanceNormal ? "success" : "danger")" style="text-align: right">
                <small class="asset-type text-muted">@account.AssetType.Name</small> @pendingBalance.ToString(amountFormat)
            </td>
        </tr>
    </tbody>
</table>

<h4>Pending Transactions</h4>
@{
    if (!Model.PendingTransactions.HasAny())
    {
        <p>There are no pending transactions</p>
    }
    else
    {
        <partial name="_AccountPendingTransactionsTablePartial" for="PendingTransactions" />
    }
}

<h4>Posted Transactions</h4>
@{
    if (!Model.PostedTransactions.Results.HasAny())
    {
        <p>There are no posted transactions</p>
    }
    else
    {
        <partial name="_AccountPostedTransactionsTablePartial" for="PostedTransactions" />
    }
}

