@using DashAccountingSystem.Models
@model JournalEntryDetailedViewModel

@{
    <div class="list-group" style="margin: auto 15px">
        <div class="list-group-item row">
            <div class="col-md-2">Entry Date</div>
            <div class="col-md-10">@Model.EntryDate.ToString("d")</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2">Status</div>
            <div class="col-md-10">
                <partial name="_TransactionStatusPartial" for="@Model.Status" />
            </div>
        </div>
        @if (Model.PostDate.HasValue)
        {
            <div class="list-group-item row">
                <div class="col-md-2">Post Date</div>
                <div class="col-md-10">@Model.PostDate.Value.ToString("d")</div>
            </div>
        }
        <div class="list-group-item row">
            <div class="col-md-2">Description</div>
            <div class="col-md-10">@Model.Description</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2">Check #</div>
            <div class="col-md-10">@(Model.CheckNumber?.ToString() ?? "N/A")</div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Note))
        {
            <div class="list-group-item row">
                <div class="col-md-2">Note</div>
                <div class="col-md-10">@Model.Note</div>
            </div>
        }
    </div>
}
