@using DashAccountingSystem.Models
@model JournalEntryDetailedViewModel

@{
    <div class="list-group journal-entry-meta">
        <div class="list-group-item row">
            <div class="col-xs-3 col-md-2"><strong>Transaction #</strong></div>
            <div class="col-xs-3 col-md-4">@Model.EntryId</div>
            <div class="col-xs-3 col-md-2"><strong>Check #</strong></div>
            <div class="col-xs-3 col-md-4">@(Model.CheckNumber?.ToString() ?? "N/A")</div>
        </div>
        <div class="list-group-item row">
            <div class="col-xs-3 col-md-2"><strong>Entry Date</strong></div>
            <div class="col-xs-3 col-md-4">@Model.EntryDate.ToString("d")</div>
            <div class="col-xs-3 col-md-2"><strong>Post Date</strong></div>
            <div class="col-xs-3 col-md-4">@(Model.PostDate?.ToString("d") ?? "N/A")</div>
        </div>
        <div class="list-group-item row">
            <div class="col-xs-3 col-md-2"><strong>Status</strong></div>
            <div class="col-xs-3 col-md-4">
                <partial name="_TransactionStatusPartial" for="@Model.Status" />
            </div>
            <div class="col-xs-3 col-md-2"><strong>Period</strong></div>
            <div class="col-xs-3 col-md-4">@Model.Period.QuarterName</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Description</strong></div>
            <div class="col-md-10">@Model.Description</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Note</strong></div>
            <div class="col-md-10">@(Model.Note ?? "N/A")</div>
        </div>
    </div>
}
