@using DashAccountingSystem.Data.Models
@using DashAccountingSystem.Models
@model JournalEntryDetailedViewModel
@{
    var sortedAccounts = Model
        .Accounts
        .OrderBy(a => a.AmountType == AmountType.Debit ? 0 : 1)
        .ThenBy(a => a.AccountName);

    Func<JournalEntryAccountViewModel, AmountType, string> showAmount = (account, type) =>
    {
        if (type == account.AmountType)
        {
            return $"{account.AssetType} {(type == AmountType.Debit ? account.Debit : account.Credit).ToString("N2")}";
        }

        return null;
    };

    <div class="row journal-entry-accounts">
        <div class="col-xs-12 col-md-10 col-lg-9">
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="col-md-6">Account</th>
                            <th class="col-md-3" style="text-align:center">Debit</th>
                            <th class="col-md-3" style="text-align:center">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in sortedAccounts)
                        {
                            <tr>
                                <td class="col-md-5">@account.AccountName</td>
                                <td class="col-md-2" style="text-align:right">
                                    @{
                                        if (account.AmountType == AmountType.Debit)
                                        {
                                            <small>@account.AssetType</small> @account.Debit.ToString("N2")
                                        }
                                    }
                                </td>
                                <td class="col-md-2" style="text-align:right">
                                    @{
                                        if (account.AmountType == AmountType.Credit)
                                        {
                                            <small>@account.AssetType</small> @account.Credit.ToString("N2")
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
