@using DashAccountingSystem.Data.Models
@using DashAccountingSystem.Models
@model PagedResult<JournalEntryDetailedViewModel>
@{
    var tenant = ViewBag.Tenant;
}
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th class="col-md-1">Status</th>
            <th class="col-md-5">Description</th>
            <th class="col-md-2">Amount</th>
            <th class="col-md-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Results)
        {
            <tr>
                <td>@entry.EntryDate.ToString("d")</td>
                <td><partial name="_TransactionStatusPartial" for="@entry.Status" /></td>
                <td>@entry.Description</td>
                <td style="text-align:right">
                    <small class="asset-type text-muted">@entry.Accounts.First().AssetType</small> @entry.Accounts.Sum(a => a.Debit).ToString("N2")
                </td>
                <td style="text-align:right">
                    @if (entry.Status == TransactionStatus.Pending)
                    {
                        <partial name="_PendingJournalEntryLinksPartial" for="@entry" />
                    }
                    <a asp-route="journalEntryDetails" asp-route-tenantid="@tenant.Id" asp-route-entryid="@entry.EntryId">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = Model.Pagination.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = !Model.Pagination.ContainsMoreRecords ? "disabled" : "";
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];

    object accountingPeriodIdParam = null;
    int accountingPeriodIdParsed = 0;
    ViewContext.RouteData.Values.TryGetValue("accountingPeriodId", out accountingPeriodIdParam);
    var accountingPeriodId = accountingPeriodIdParam != null &&
        int.TryParse(accountingPeriodIdParam.ToString(), out accountingPeriodIdParsed)
        ? accountingPeriodIdParsed
        : (int?)null;
}

<a asp-controller="@controller"
   asp-action="@action"
   asp-route-tenantId="@tenant.Id"
   asp-route-accountingPeriodId="@(accountingPeriodId.HasValue ? accountingPeriodId.ToString() : null)"
   asp-route-pageNumber="@(Model.Pagination.PageNumber - 1)"
   asp-route-pageSize="@(Model.Pagination.PageSize)"
   class="btn btn-default @prevDisabled"
>
    Previous
</a>
<a asp-controller="@controller"
   asp-action="@action"
   asp-route-accountingPeriodId="@(accountingPeriodId.HasValue ? accountingPeriodId.ToString() : null)"
   asp-route-tenantId="@tenant.Id"
   asp-route-pageNumber="@(Model.Pagination.PageNumber + 1)"
   asp-route-pageSize="@Model.Pagination.PageSize"
   class="btn btn-default @nextDisabled"
>
    Next
</a>