@using DashAccountingSystem.Models
@model JournalEntryDetailedViewModel

@{
    <div class="list-group" style="margin: auto 15px; width: 67%">
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Transaction #</strong></div>
            <div class="col-md-10">@Model.EntryId</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Entry Date</strong></div>
            <div class="col-md-10">@Model.EntryDate.ToString("d")</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Status</strong></div>
            <div class="col-md-10">
                <partial name="_TransactionStatusPartial" for="@Model.Status" />
            </div>
        </div>
        @if (Model.PostDate.HasValue)
        {
            <div class="list-group-item row">
                <div class="col-md-2"><strong>Post Date</strong></div>
                <div class="col-md-10">@Model.PostDate.Value.ToString("d")</div>
            </div>
        }
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Description</strong></div>
            <div class="col-md-10">@Model.Description</div>
        </div>
        <div class="list-group-item row">
            <div class="col-md-2"><strong>Check #</strong></div>
            <div class="col-md-10">@(Model.CheckNumber?.ToString() ?? "N/A")</div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Note))
        {
            <div class="list-group-item row">
                <div class="col-md-2"><strong>Note</strong></div>
                <div class="col-md-10">@Model.Note</div>
            </div>
        }
    </div>
}
