@using DashAccountingSystem.Data.Models
@using DashAccountingSystem.Models
@{
    // Tenant
    var tenant = ViewBag.Tenant as Tenant;

    // Accounting Periods
    var selectedAccountingPeriod = ViewBag.SelectedPeriod as AccountingPeriodViewModel;

    var controller = ViewContext.RouteData.Values["Controller"];
    var isActiveRoute = new string[] { "LedgerAccounts", "Journal", "Statements" }
        .Select(route => new KeyValuePair<string, bool>(route, string.Equals(controller, route)))
        .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
}

<div class="row">
    <div class="col-sm-6 col-lg-8">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-6 col-lg-4 masthead-tenant-name">
        <h4>@tenant.Name</h4>
        <div>
            <span>Selected Period:&nbsp;</span>
            <span>
                <strong>
                    @selectedAccountingPeriod.Name @(selectedAccountingPeriod.Closed ? " (closed)" : selectedAccountingPeriod.Current ? " (current)" : null)
                </strong>
            </span>
        </div>
    </div>
</div>

<div class="secondary-nav">
    <ul class="nav nav-tabs">
        <li role="presentation" class="@(isActiveRoute["LedgerAccounts"] ? "active" : null)">
            <a asp-route="accountsIndex"
               asp-route-tenantid="@tenant.Id">
                General Ledger
            </a>
        </li>
        <li role="presentation" class="@(isActiveRoute["Journal"] ? "active" : null)">
            <a asp-route="journalIndex"
               asp-route-tenantid="@tenant.Id">
                Journal
            </a>
        </li>
        <li role="presentation" class="@(isActiveRoute["Statements"] ? "active" : null)">
            <a asp-route="statementsIndex"
               asp-route-tenantid="@tenant.Id">
                Statements
            </a>
        </li>
    </ul>
</div>
